.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

html,body {
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}

body {
	border: 1px solid #ccc;
}

a,a:visited {
	text-decoration: none;
	outline-style: none;
	color: #517ACF;
}

a:hover {
	text-decoration: underline;
	color: #517ACF;
}

/*COMMENT*/
section#comment {
	width: 100%;
	min-width: 330px;
	background: white;
	padding-bottom: 20px;
}

section#comment header {
	font-size: 20px;
	line-height: 22px;
	padding: 10px 10px;
}

section#comment article {
	display: block;
	padding: 5px 20px 2px;
	border-top: 1px dotted #CCC;
}

/*COMMENT - header*/
.cmt-header {
	padding: 7px 0px 7px 20px;
}

.cmt-header .totals {
	display: inline-block;
	font-weight: bold;
	color: #6A6A6A;
}

.cmt-header .paging {
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.cmt-header .paging a.active {
	background: #bbb;
	font-weight: bold;
}

.cmt-header .paging a {
	padding: 1px 5px 1px 5px;
	border: 1px solid #CCC;
}

.cmt-header .paging a:hover {
	text-decoration: none;
	background: #eee;
}

/*COMMENT - list comment*/
.cmt-body {
	display: block;
	margin-left: 50px;
}

.cmt-user-name,.cmt-content,.cmt-dislike,.cmt-like,.cmt-reply,.cmt-time
	{
	line-height: 20px;
}

.cmt-user-name {
	font-weight: bold;
	padding-right: 3px;
}

.cmt-toolbox>span {
	display: inline-block;
	margin-right: 7px;
}

.cmt-toolbox img {
	width: 10px;
	height: 10px;
	margin-left: 3px;
}

.cmt-toolbox .cmt-time {
	color: gray;
}

.cmt-avatar {
	display: block;
	float: left;
	width: 35px;
	height: 35px;
}

.cmt-avatar img {
	width: 35px;
	max-width: 35px;
	height: 35px;
	max-height: 35px;
}

/*COMMENT - reply post*/
.reply-post-list .reply-post-body {
	border-bottom: 1px solid #d0d4e4;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.cmt-reply-post {
	margin: 4px 0px 0px 50px;
	padding-top: 4px;
	border-top: 1px dotted #ccc;
	display: none;
}

.reply-post-avatar {
	display: block;
	float: left;
	width: 25px;
	height: 25px;
}

.reply-post-avatar img {
	width: 25px;
	max-width: 25px;
	height: 25px;
	max-height: 25px;
}

.reply-post-body {
	display: block;
	margin-left: 30px;
}

.reply-post-body>div {
	min-height: 16px;
}

.reply-post-message textarea {
	border: 1px solid #CCC;
	width: 100%;
	height: 20px;
	resize: none;
	overflow: hidden;
}

.reply-post-note {
	display: none;
}

.reply-post-error {
	float: right;
	color: red;
	font-weight: bold;
	display: none;
}

.reply-post-success {
	display: none;
	float: right;
	color: #009900;
	font-weight: bold;
	display: none;
}

/*COMMENT - new post*/
.cmt-new-post {
	padding: 5px 20px 2px;
	border-bottom: 1px dotted #CCC;
	border-top: 1px dotted #CCC;
}

.new-post-avatar {
	display: block;
	float: left;
	width: 35px;
	height: 35px;
}

.new-post-avatar img {
	width: 35px;
	max-width: 35px;
	height: 35px;
	max-height: 35px;
}

.new-post-body {
	display: block;
	margin-left: 50px;
}

.new-post-message textarea {
	border: 1px solid #CCC;
	width: 100%;
	height: 20px;
	resize: none;
	overflow: hidden;
}

.new-post-error {
	display: none;
	float: right;
	color: red;
	font-weight: bold;
}

.new-post-success {
	display: none;
	float: right;
	color: #009900;
	font-weight: bold;
}

.new-post-note {
	display: none;
}

.new-post-note>span,.reply-post-note>span {
	font-weight: bold;
}

/* COMMENT-LOGIN-BOX */
.cmt-login-form {
	padding: 5px 20px 0px;
	/*border-bottom: 1px dotted #CCC;*/
	border-top: 1px dotted #CCC;
}

.cmt-login-form input {
	height: 18px;
	margin-right: 5px;
	padding: 2px 2px 2px 5px;
	border: 1px solid #CCC;
}

.cmt-login-form input[type='text'] {
	width: 120px;
}

.cmt-login-form input[type='password'] {
	width: 120px;
}

.cmt-login-form input[type='checkbox'] {
	height: 12px;
	margin-right: 0px;
	margin-left: 0px;
}

.cmt-login-form form button {
	cursor: pointer;
	color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	text-align: center;
	padding: 2px 10px;
	background-color: #009900;
	border: 1px solid #5BA020;
}

.login-desc {
	font-size: 11.5px;
	line-height: 20px;
	margin-bottom: 3px;
	font-weight: bold;
	color: #6A6A6A;
}

.login-required {
	color: red;
	height: 20px;
}

.login-error {
	color: red;
	font-weight: bold;
	margin: 3px 10px 0;
	height: 15px;
	display: none;
}

.login-info {
	margin: 3px 0px 0;
	height: 15px;
}
/*END - COMMENT*/